{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 90%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
        /* font-family: 'Roboto Light',system-ui" */
        /* https://www.w3schools.com/howto/howto_js_slideshow_gallery.asp */
        * {
            box-sizing: border-box;
        }
        .shy-link {
            margin-left: 8px;
            color: grey;
        }
        .shy-link:hover {
            color: darkred;
        }
        .green-link:hover {
            color: darkgreen;
        }
        .gallery-class {
            border: 2px solid grey;
            display: inline-flex;
            align-items: center; /* align vertically */
        }
        .gallery-item {
            min-width: 500px;
            max-width: 800px;
            display: flex;
            flex-shrink: 1;
        }
        .inactive-gallery-item {
            display: none;
        }
        .prev, .next {
            cursor: pointer;
            padding: 16px;
            color: black;
            font-weight: bold;
            font-size: 20px;
            border-radius: 0 3px 3px 0;
            user-select: none;
            -webkit-user-select: none;
        }
        .next {
            border-radius: 3px 0 0 3px;
        }
        .prev:hover, .next:hover {
            background-color: rgba(0, 0, 0, 0.7);
        }
    </style>
    <script>
        let slideIndex = 0;
        let whichImg = null;

        // Next/previous image
        function plusSlides(n) {
            showSlides(slideIndex += n);
        }

        function currentSlide(n) {
            showSlides(slideIndex = n);
        }

        function showSlides(n) {
            let visibleSlides = document.getElementsByClassName("gallery-item");
            if(visibleSlides.length > 0) {
                let element = visibleSlides[0];
                element.classList.remove("gallery-item");
                element.classList.add("inactive-gallery-item");
            }

            let slides = document.getElementsByClassName("inactive-gallery-item");
            let slidesSize = slides.length // length is property

            if (n >= slides.length) {slideIndex = 0;}
            if (n < 0) {slideIndex = slides.length-1;}

            for (let i = 0; i < slides.length; i++) {
                if(slides[i].id === slideIndex.toString(10)) {
                    let element = slides[i]
                    element.classList.remove("inactive-gallery-item");
                    element.classList.add("gallery-item");
                    whichImg.innerHTML = "Image " + (i+1).toString(10) + " out of " + slidesSize.toString(10)
                    return;
                }
            }
            console.error("No slides elements with slideIndex id")
        }
    </script>

    <div class="example-wrapper">
        <h1>Garage3D 🛠🧰🖨</h1>
    </div>
    <div>
        {% if item is null %}
            <br/>
            <h1>Item not found</h1>
        {% else %}
            <h2>{{ item.itemName }}</h2>
            <h4>
                by <a href="{{ path('user_page', { user_id: item.author.id }) }}" class="no-color-link">{{ item.author.username }}</a>
            </h4>
            {% if is_granted('ROLE_USER') and item.author.id == app.user.id %}
                <details>
                    <summary>Edit Item</summary>
                    {{ form(editForm) }}
                    <br/>
                    <div>
                        Files that are already part of this project:
                        <br/>
                        <table>
                            {% for file in item.files %}
                                <tr>
                                    <td>{{ file.filename }}</td>
                                    <td><a href="{{ path('delete_file', {file_id: file.id, back_to: item.id}) }}" class="shy-link">Delete</a></td>
                                </tr>
                            {% endfor %}
                        </table>
                        <br/>
                        Images already in project:
                        <table>
                            {% for photo in item.photos %}
                                <tr>
                                    <td>{{ photo.photoname }}</td>
                                    <td><a href="{{ path('delete_photo', {photo_id: photo.id, back_to: item.id}) }}" class="shy-link">Delete</a></td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </details>
                <button onclick="openDialog()">delete item</button>
                <dialog id="die">
                    <p>Are you sure you want to delete {{ item.itemName }}?</p>
                    <a class="shy-link" onclick="closeDialog()">NO</a> <a class="shy-link green-link" href="{{ path('delete_item', { item_id: item.id}) }}">YES</a>
                </dialog>
                <script>
                    function openDialog() {
                        document.getElementById("die").showModal();
                    }
                    function closeDialog() {
                        document.getElementById("die").close();
                    }
                </script>
            {% endif %}
            <br/>
            <div>
                {% if item.photos|length > 0 %}
                    <div id="gallery" class="gallery-class">
                        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                        {% for photo in item.photos %}
                            <img
                                    id="{{ loop.index0 }}"
                                    src="{{ asset('/uploads/images/' ~ photo.serverPhotoname) }}"
                                    alt="{{ photo.photoname }}"
                                    class="inactive-gallery-item"
                            />
                        {% endfor %}
                        <a class="next" onclick="plusSlides(1)">&#10095;</a>
                    </div>
                    <p id="which_img"></p>
                    <script>
                        whichImg = document.getElementById("which_img");
                        showSlides(slideIndex);
                    </script>
                {% endif %}
            </div>
            <br/>
            <p>{{ item.description }}</p>
            <br/>
            Files:
            <ul>
            {% for file in item.files %}
                <li>
                    <a href="{{ asset('/uploads/stl/' ~ file.serverFilename) }}">
                        {{ file.filename }}{% if not (file.filename ends with '.stl') %}.stl{% endif %}
                    </a>
                </li>
            {% endfor %}
            </ul>
        {% endif %}
    </div>
    <br/>
    <div>
        {% if is_granted('ROLE_USER') %}
            <a href="{{ path('add_item') }}">Add new item</a>
        {% endif %}
        <br/>
        <a href="{{ path('app_main') }}">back to main page</a>
    </div>
    <p></p>
{% endblock %}