{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
        td, th, hr {
            border: 1px solid grey;
        }
        /* font-family: 'Roboto Light',system-ui" */
    </style>
    <h1>Garage3D 🛠🧰🖨</h1>
    <h2>Browse out of {{ itemCount }} items</h2>
    {% if not is_granted('ROLE_USER') %}
        Log in to post your own creations!
    {% endif %}
    <div style="margin-top: 16px">
        <table>
            <tr>
                {% for item in items %}
                    <td>
                        <a href="{{ path('item_page', { item_id: item.id }) }}" class="no-color-link">
                            {% if item.photos|length > 0 %}
                            <img
                                    src="{{ asset('/uploads/images/' ~ item.photos[0].serverPhotoname) }}"
                                    alt="{{ item.photos[0].photoname }}"
                                    style="width: 300px; height: 225px;"
                            />
                            {% else %}
                                <div style="background-color: #b5daff; width: 300px; height: 225px;"></div>
                            {% endif %}
                            <hr style="margin: 0; border-bottom: 0">
                            <h4>{{ item.itemName }}</h4>
                            <p>by <a href="{{ path('user_page', { user_id: item.author.id }) }}" class="no-color-link">{{ item.author.username }}</a></p>
                        </a>
                    </td>
                    {% if loop.index0 % rowWidth == rowWidth - 1 %}
                        </tr>
                        <tr>
                    {% endif %}
                {% endfor %}
            </tr>
        </table>
        {% if previous >= 0 %}
            <!--<a href="{/{ path('conference', { slug: conference.slug, offset: previous }) }}">&larr; Previous Comments</a> -->
            <a href="{{ path('item_list', { offset: previous }) }}">&larr; Previous Items</a>
        {% endif %}
        {% if next < items|length %}
            <!--<a href="{/{ path('conference', { slug: conference.slug, offset: next }) }}">&rarr; Next Comments</a>-->
            <a href="{{ path('item_list', { offset: next }) }}">&rarr; Next Items</a>
        {% endif %}
        <br/>
        <a href="{{ path('item_list', { offset: first }) }}">First Page</a>
        <a href="{{ path('item_list', { offset: last }) }}">Last Page</a>
        <br/>
        <a href="{{ path('app_main') }}">back to title page</a>
        <br/>
    </div>
    <div>
        {% if is_granted('ROLE_USER') %}
            <!--TODO Here will be placed a button to add your items-->
            <a href="{{ path('add_item') }}">Add your item</a> <!-- No form yet, redirects to home -->
        {% endif %}

    </div>
{% endblock %}