{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 90%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
        td, th {
            border: 1px solid grey;
        }
        /* font-family: 'Roboto Light',system-ui" */
        .shy-link {
            margin-left: 8px;
            color: grey;
        }
        .shy-link:hover {
            color: darkred;
        }
    </style>

    <div class="example-wrapper">
        <h1>Garage3D 🛠🧰🖨</h1>
    </div>
    <div>
        {% if user is null %}
            <br/>
            <h1>User not found</h1>
        {% else %}
            <h2>{{ user.username }}</h2>
            <br>
            {% if is_granted('ROLE_USER') and user.id == app.user.id %}
                <details>
                    <summary>Edit information about yourself</summary>
                    {{ form(editAboutForm) }}
                </details>
                <!--<a href="{/{ path('change_password') }}">Change login data</a>-->
            {% endif %}
            <br/>
            <p>{{ user.about }}</p>
            <!--{/% if user.id == app.user.id %}
                <p>Change description about yourself</p>
                sdsdfd
            {/% endif %}-->
            <br/>
            Items created by {{ user.username }}:
            <div style="margin-top: 16px">
                <table>
                    <tr>
                        {% for item in user.items %}
                        <td>
                            <a href="{{ path('item_page', { item_id: item.id }) }}" class="no-color-link">
                                {% if item.photos|length > 0 %}
                                    <img
                                            src="{{ asset('/uploads/images/' ~ item.photos[0].serverPhotoname) }}"
                                            alt="{{ item.photos[0].photoname }}"
                                            style="width: 300px; height: 225px;"
                                    />
                                {% else %}
                                    <div style="background-color: #afd4ff; width: 300px; height: 225px;"></div>
                                {% endif %}
                                <hr style="margin: 0; border-bottom: 0">
                                <h4>{{ item.itemName }}</h4>
                                <p>by <a href="{{ path('user_page', { user_id: item.author.id }) }}" class="no-color-link">{{ item.author.username }}</a></p>
                            </a>
                        </td>
                        {% if loop.index0 % rowWidth == rowWidth - 1 %}
                    </tr>
                    <tr>
                        {% endif %}
                        {% endfor %}
                    </tr>
                </table>
            </div> <!-- I don't think one user would have so many items that it needs pagination -->
            <br/>
            {% if is_granted('ROLE_USER') and user.id == app.user.id %}
                Items you like:
                <ul>
                    {% for like in user.likedItems %}
                        <li>
                            <p><a href="{{ path('user_page', { user_id: like.likedItem.id }) }}">{{ like.likedItem.itemName }}</a>
                             by <a href="{{ path('user_page', { user_id: like.likedItem.author.id }) }}" class="no-color-link">
                                    {{ like.likedItem.author.username }}
                                </a>
                            <a href="{{ path('like', { item_id: like.likedItem.id }) }}" class="shy-link">Remove like</a>
                            </p>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endif %}
        <br/>
        <div>
            {% if is_granted('ROLE_USER') %}
                <a href="{{ path('add_item') }}">Add new item</a>
            {% endif %}
            <br/>
            <a href="{{ path('app_main') }}">back to main page</a>
        </div>
    </div>
    <p></p>
{% endblock %}